html,
body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font: 14px Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 850px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus {
    outline: 0;
}

.hidden {
    display: none;
}

.libraryApp {
    background: #fff;
    margin: 10px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.title-container {
    width: 100%;
    text-align: center;
    display: block;
    horiz-align: center;
}

h1.title {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 80px;
    line-height: 80px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
    color: rgba(175, 47, 47, 0.15);
    text-rendering: optimizeLegibility;
}

h1.username {
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

h1.loading {
    width: 100%;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 80px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.new-book {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.new-book:hover {
    background-color: rgba(175, 47, 47, 0.1);
}

.main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}

.book-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.book-list li .view {
    position: relative;
    display: flex;
    justify-content: stretch;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

.bookView {
    display: block;
    padding-bottom: 60px;
}

.bookView .bookHolder {
    margin-left: 60px;
    margin-right: 60px;
    grid-template-columns: 30% 70%;
    margin-top: 20px;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-gap: 10px;
}


.bookView .title {
    display: inline-block;
    grid-column: 1;
    grid-row: 1;
    font-size: 24px;
}

.bookView .description {
    display: inline-block;
    text-align: justify;
    grid-column: 2;
    grid-row: 1/3;
}

.bookView .pages {
    display: inline-block;
    grid-row: 2;
    grid-column: 1;
}

.book-list li .view .book {
    display: inherit;
    justify-content: stretch;
    width: 100%;
}

.book-list li .view .title {
    padding-left: 60px;
    width: 30%;
}

.book-list li .view .description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    margin: 0;
    width: 50%;
}

.book-list li .view .pages {
    margin-right: 45px;
    padding-top: 15px;
    text-align: right;
    vertical-align: middle;
    width: 7em;
    font-size: 16px;

}

.book-list li .view:hover {
    background-color: rgba(175, 47, 47, 0.05);
}

.book-list li:last-child {
    border-bottom: none;
}


.book-list li label {
    word-break: break-all;
    padding: 15px 60px 15px 15px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

.book-list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

.book-list li .destroy {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    margin-top: 5px;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
}

.book-list li .destroy:hover {
    color: #af5b5e;
}

.book-list li .destroy:after {
    content: '×';
}

.editForm {
    position: relative;
    width: 100%;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 16px 60px 16px 60px;
    border: none;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.editForm .element {
    display: inline-block;
    width: 100%;
    margin-top: 32px;
}

.editForm textarea, input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
    border-bottom: 1px solid #e6e6e6;
    transition: border-color 0.15s;
}

.editForm textarea:focus:not([readonly]),input:focus:not([readonly]) {
    border-bottom: 1px solid rgba(175, 47, 47, 0.5);;
    box-shadow: 0 1px 0 0 rgba(175, 47, 47, 0.5);
}

.footer {
    color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
}

.footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.book-count {
    float: left;
    text-align: left;
}

.book-count strong {
    font-weight: 300;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}

.filters li {
    display: inline;
}

.filters li label {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.filters li label:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.filters li label.selected {
    border-color: rgba(175, 47, 47, 0.2);
}
.filters .logout {
    position: absolute;
    right: 20px;
    bottom: -6px;
}

.clear-completed,
html .clear-completed:active {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}

.clear-completed:hover {
    text-decoration: underline;
}

.info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

.info p {
    line-height: 1;
}

.info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

.info a:hover {
    text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .toggle-all,
    .book-list li .toggle {
        background: none;
    }

    .book-list li .toggle {
        height: 40px;
    }

    .toggle-all {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-appearance: none;
        appearance: none;
    }
}

@media (max-width: 430px) {
    .footer {
        height: 50px;
    }

    .filters {
        bottom: 10px;
    }
}

body {
    padding-top: 100px;
}

.error {
    font-size: 24px;
    font-weight: 400;
    color: white;
    text-align: center;
    border: 1px solid darkred;
    padding: 10px;
    background-color: #af5b5e;
    border-radius: 5px;
}

body {
    padding-top: 100px;
}

.logout-link {
    font-size: 18px;
    text-decoration: underline;
}